<div class="white-rounded-container">
    <div class="flex-column">
        <form action="/user/ChangePassword" method="post" onsubmit="return Validate();">
            <div class="m-2">
                <label>New Password:</label>
            </div>   
            <div class="m-2">
                <input class="form-control" type="password" name="newpass"/>
            </div>
            <div class="m-2">
                <label>Confirm New Password:</label>
            </div>
            <div class="m-2">
                <input class="form-control" type="password" name="newpass-repeat" />
            </div>
            <div class="m-2">
                <button type="submit" class="btn btn-dark col-10 m-1 p-2" style="text-align:center;">
                    Change Password
                </button>
            </div>
            @{
                string message = ViewBag.ResultMessage;
                if (message?.Length > 1){
                    <div style="color:darkblue; padding: 7px;">
                        @message
                    </div>
                }
            }
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    var errorMessage = '';
    function Validate(){
        console.log("here");
        if (ArePasswordsValid() && !ConfirmPasswordNotEntered() && PasswordsMatch())
            return ConfirmationMessage();
       else {
           ThrowAlert();
           return false;
       }
    }
    function ArePasswordsValid(){
        if($('[name="newpass"]').val().length < 6)
        {
            errorMessage += 'Length of the password must be at least 6 characters\n';
            return false;
        }
        else return true;
    }
    function ConfirmPasswordNotEntered(){
        if($('[name="newpass-repeat"]').val().length == 0)
        {
            errorMessage += 'Please repeat the entered password in the confirmation field\n';
            return false;
        }
    }
    function PasswordsMatch(){
        if ($('[name="newpass"][type=password]').val() != $('[name="newpass-repeat"][type=password]').val()) {
            errorMessage += "Entered passwords don't match\n";
            return false;
        }
        else return true;
    }
    function ConfirmationMessage(){
        return confirm('Are you sure to change the login password?');
    }
    function ThrowAlert(){
        alert(errorMessage);
        errorMessage = '';
    }
</script>