<div class="white-rounded-container">
    <form action="/user/signin" method="post">
        <div style="display:flex; justify-content:space-around; flex-direction:column;">
            <div>
                <p style="color:white; font-size:20px;"><b>Sign In</b></p>
            </div>
            <div class="m-1">
                <label for="email">Email:</label>
            </div>
            <div class="m-1">
                <input class="form-control p-3" type="email" placeholder="email@example.com" name="email"/>
            </div>
            <div class="m-1">
                <label for="password">Password:</label>
            </div>
            <div class="m-1">
                <input class="form-control p-3" type="password" placeholder="********" name="password" />
            </div>
            @{
                if (ViewBag.Errors is not null)
                {
                    <div>
                        <ul>
                            <li style="color:red;">@ViewBag.Errors</li>
                        </ul>
                    </div>
                }
            }
            <div class="m-3">
                <button type="submit" class="btn btn-primary" style="padding: 10px 45px 10px 45px;">Submit</button>
            </div>
        </div>    
    </form>
</div>